:root[data-theme="dark"] {
	--sbgcui-point-bg: #282828;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--sbgcui-point-bg: #282828;
		--sbgcui-point-text-shadow: 0 0 5px var(--text-shadow);
	}
}

* {
	touch-action: manipulation;
}

html {
	user-select: none;
	-webkit-user-select: none;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	overscroll-behavior: contain;
	overflow: hidden;
}

.toastify span:has(.item-icon):first-of-type,
.toastify span:has(.type-1)+span:has(.type-2),
.toastify span:has(.type-2)+span:has(.type-3),
.toastify span:has(.type-3)+span:has(.type-4) {
	display: block;
	margin-top: 7px;
}

.toastify span:last-of-type:not(:last-child):has(.item-icon) {
	display: block;
	margin-bottom: 7px;
}

.toastify span:first-child:has(~span>.item-icon),
.toastify span:first-child+br:has(~span>.item-icon) {
	display: none;
}

.interaction-toast,
.error-toast {
	border-color: var(--border-transp);
	border-radius: 5px;
}

.item-icon {
	margin-right: 5px;
}

#attack-slider-fire {
	height: 50px;
}

#attack-menu {
	background-color: rgba(110, 110, 110, 0.2);
	background-clip: content-box;
	border-left-style: inset;
	border-right-style: outset;
	border-bottom-style: groove;
	border-top-style: dotted;
	width: 6em;
	height: 6em;
	padding: 0;
	margin-bottom: 10px;
	border-width: 8px;
	border-radius: 50%;
	border-color: var(--sbgcui-branding-color);
	box-shadow: 0px 0px 10px 0px rgba(110, 110, 110, 0.2);
	transform: rotate(0deg);
	-moz-transform: rotate(-45deg);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}

#attack-menu::after {
	display: block;
	content: "";
	width: 50%;
	height: 50%;
	background-color: var(--sbgcui-branding-color);
	border-radius: 30%;
	margin: auto;
	transition: transform 0.5s ease, border-radius 0.5s ease 0.2s, background-color 1s ease-out;
}

#catalysers-list>.splide__slide,
#cores-list>.splide__slide {
	height: initial !important;
}

#repair {
	grid-area: Repair;
}

#draw {
	grid-area: Draw;
}

#deploy {
	grid-area: Deploy;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	touch-action: manipulation;
}

#discover {
	grid-area: Discover;
}

#i-image {
	top: 0;
}

#i-title {
	overflow: hidden;
}

#i-title,
.i-stat__entry,
.sbgcui_point_trash,
.cores-list__level,
.cores-list__amount,
.deploy-slider-error {
	text-shadow: var(--sbgcui-point-text-shadow);
}

.inventory.popup:has(.inventory__content[data-tab="3"]) #inventory__close[sbgcui_measurement_mode] {
	color: var(--selection);
}

.inventory__content:not([data-tab="3"])~.inventory__controls>select,
.inventory__content:not([data-tab="3"])~.inventory__controls>.sbgcui_show_viewer {
	display: none;
}

#layers {
	position: initial;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
}

#notifs-menu {
	margin: 20px 1px 1px;
}

#notifs-menu[data-count]::before {
	content: '';
	position: initial;
	top: initial;
	right: initial;
	translate: initial;
	transform: initial;
	background: currentColor;
	color: inherit;
	border-radius: initial;
	padding: initial;
	min-width: initial;
	box-sizing: border-box;
	font-size: 1em;
}

#notifs-menu[data-count]::after {
	content: '';
	position: absolute;
	top: 5px;
	right: 0;
	background: var(--accent);
	border-radius: 50%;
	width: 25%;
	height: 25%;
}

#self-info__exp {
	font-size: 1em;
	padding: 0 1em;
}

#self-info__explv {
	font-size: 2.2em;
	text-shadow: 3px 3px 2px black;
}

#self-info__inv::after {
	content: var(--sbgcui-inventory-limit);
}

#self-info__name {
	font-size: 1.2em;
	position: absolute;
	top: 0em;
	left: 100%;
	z-index: 1;
	pointer-events: auto;
	color: var(--sbgcui-branding-color) !important;
}

#toggle-follow {
	transform: rotate(-90deg);
}

#ops {
	position: absolute;
	left: 0;
	bottom: -10px;
	font-size: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ops,
.game-menu>button {
	color: var(--sbgcui-branding-color);
	background-color: var(--ol-background-color);
	border: 1px solid var(--ol-subtle-background-color);
	border-radius: 4px;
}

.draw-slider-wrp {
	bottom: 20px;
	top: unset;
	transform: translateX(-50%);
}

.draw-slider-buttons {
	display: grid;
	gap: 15px 20px;
	grid-template-areas: "Draw Draw Close Close" ". Sort Fit .";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 35px;
	padding: 0 10px;
}

#draw-slider-confirm {
	grid-area: Draw;
}

#draw-slider-close {
	grid-area: Close;
}

.sbgcui_drawslider_sort {
	grid-area: Sort;
	padding: 5px;
}

.sbgcui_drawslider_fit {
	grid-area: Fit;
	padding: 7px;
}

.attack-slider-highlevel {
	background: none;
}

.splide__arrow--prev {
	left: 0;
}

.splide__arrow--next {
	right: 0;
}

.attack-slider-buttons {
	margin-top: 5px;
}

.attack-slider-highlevel,
.deploy-slider-error {
	display: flex;
	justify-content: center;
	align-items: center;
}

.attack-slider-highlevel {
	height: unset;
	padding-bottom: 5px;
}

.attack-slider-wrp {
	width: calc(100% - 100px);
	margin: 0 auto;
}

.attack-slider-wrp {
	z-index: 2;
	position: initial;
	top: initial;
	left: initial;
	transform: initial;
	order: 2;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.bottom-container {
	pointer-events: none;
	position: relative;
	bottom: initial;
	left: initial;
	order: 3;
	margin: 0 5px 15px;
	justify-content: center;
	transform: initial;
	width: initial;
}

.bottom-container button {
	pointer-events: auto;
}

.catalysers-list__level,
.cores-list__level {
	aspect-ratio: 1;
	border: 2px solid;
	border-radius: 10px;
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.catalysers-list__amount,
.cores-list__amount,
.attack-slider-highlevel {
	font-size: 1em;
}

.catalysers-list__amount,
.cores-list__amount {
	width: 100%;
	text-align: center;
}

.deploy-slider-error {
	background: unset;
}

.deploy-slider-wrp {
	margin: 10px auto 0;
	width: 75%;
}

.draw-slider-wrp .splide__slide * {
	direction: ltr;
}

.splide__pagination {
	bottom: 125px;
}

.game-menu>.fa-solid-rotate {
	width: 2em;
}

.game-menu button {
	pointer-events: auto;
}

.i-buttons {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 2fr 1fr 1fr;
	gap: 10px 10px;
	grid-template-areas:
		"Repair Draw Deploy"
		"Discover Discover Deploy"
		"Discover Discover Deploy";
	width: 90%;
	align-self: center;
	direction: var(--sbgcui-point-btns-rtl);
}

html[lang="ru"] .i-buttons {
	grid-template-columns: 1fr 1.5fr 1.5fr;
}

.i-buttons>button {
	padding: 5px 0;
	box-shadow: 0 0 2px var(--shadow);
}

.i-stat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr repeat(6, auto);
	gap: 0px 10px;
	grid-template-areas:
		"_ _"
		"distance lines"
		"owner regions"
		"energy reward"
		"buttons buttons"
		"cores cores"
		"slider slider";
	position: relative;
}

.i-stat>div:nth-child(1) {
	grid-area: distance;
}

.i-stat>div:nth-child(2) {
	grid-area: owner;
}

.i-stat>div:nth-child(3) {
	grid-area: energy;
}

.i-stat>div:nth-child(4) {
	grid-area: lines;
}

.i-stat>div:nth-child(5) {
	grid-area: regions;
}

.i-stat>div:nth-child(6) {
	grid-area: reward;
}

.i-stat>div:nth-child(7) {
	grid-area: buttons;
	justify-self: center;
}

.i-stat>div:nth-child(8) {
	grid-area: cores;
}

.i-stat>div:nth-child(9) {
	grid-area: slider;
}

.i-stat__entry {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}

#i-stat__energy>span {
	color: var(--text-disabled);
	display: block;
}

.settings .popup-close,
.info .popup-close,
.leaderboard .popup-close,
.notifs .popup-close,
.profile .popup-close,
.sbgcui_log-close,
.sbgcui_log-buttons-console,
.sbgcui_log-buttons-trash,
#sbgcui_hide_viewer,
#sbgcui_batch_remove,
#inventory__close {
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 2px solid var(--text);
	border-radius: 0.5em;
	bottom: 5px;
	box-shadow: 0 0 10px var(--shadow);
	color: var(--text);
	font-size: 50px;
	height: 1em;
	padding: 10px;
	position: relative;
	width: 1em;
}

#inventory__close {
	bottom: 120px;
	position: absolute;
	right: 50%;
	top: initial;
	transform: translateX(50%);
	z-index: 2;
}

#inventory-delete {
	order: 1;
}

.info>.popup-close {
	position: sticky;
}

.profile .popup-close {
	bottom: 15px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

#sbgcui_hide_viewer {
	bottom: 30px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 2;
}

#sbgcui_batch_remove {
	position: absolute;
	bottom: 100px;
	right: 20px;
	z-index: 2;
}

#sbgcui_batch_remove::after {
	content: var(--sbgcui-unique-refs-to-del) " (" var(--sbgcui-overall-refs-to-del) ")";
	font-size: 14px;
	left: 50%;
	position: absolute;
	top: calc(100% + 5px);
	transform: translateX(-50%);
}

.inventory__content {
	order: 1;
	margin-bottom: 0;
	position: relative;
}

.inventory__content[data-tab="3"].sbgcui_refs_list-blur::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	z-index: 1;
}

.inventory__content[data-tab="3"] {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inventory__content[data-tab="3"] .inventory__item {
	--sbgcui-energy: 0%;
	--sbgcui-display-r-button: none;
	padding-right: 35px;
	position: relative;
	grid-template-columns: auto 1fr;
}

.inventory__content[data-tab="3"] .inventory__item-controls::after {
	content: "R";
	background: #666;
	display: var(--sbgcui-display-r-button);
	align-items: center;
	border-radius: 3px;
	position: absolute;
	height: 100%;
	justify-content: center;
	width: 30px;
	right: 0;
	top: 0;
}

.inventory__content[data-tab="3"] .inventory__item.loaded .inventory__item-left::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--sbgcui-energy);
	opacity: 0.3;
	background-color: var(--sbgcui-branding-color);
	transition: width 0.5s ease;
}

.inventory__manage-amount {
	z-index: 1;
}

.inventory__item-controls {
	order: 1;
	overflow: visible;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.inventory__controls {
	justify-content: space-between;
	order: 3;
	height: 40px;
}

.inventory__item-left {
	order: 2;
	position: relative;
	margin-right: 5px;
}

.inventory__header {
	order: 2;
	margin-bottom: 10px;
	padding: 0;
	gap: 0;
}

.inventory__tab {
	display: flex;
	align-items: center;
	height: 35px;
	border-bottom: 2px #0000 solid;
	border-top: none;
	flex-grow: 1;
	justify-content: center;
}

.inventory__tab.active {
	color: var(--selection);
}

.notifs__entry {
	grid-template-columns: 1.5fr 5fr 1fr;
}

.notifs__entry-text {
	color: var(--text-disabled);
}

.notifs__entry-view>span {
	display: none;
}

.notifs__entry-view {
	appearance: none;
	background-color: transparent;
	border: none;
	color: var(--text-disabled);
	height: 35px;
	font-size: 25px;
	padding: 0;
}

.notifs__entry-view::before {
	-webkit-mask: url("./assets/fontawesome/svg/solid/map-location-dot.svg");
	mask: url("./assets/fontawesome/svg/solid/map-location-dot.svg");
	background-color: currentColor;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 1em;
	mask-size: 1em;
}

.ol-control {
	left: initial;
	right: 0.5em;
	top: initial;
	bottom: 5px;
	transform: initial;
}

.ol-control button {
	color: var(--sbgcui-branding-color);
	font-size: 1.7em !important;
	padding: 5px;
}

.ol-control button:hover,
.ol-control button:focus {
	outline: unset;
	color: var(--sbgcui-branding-color);
}

.ol-layer__base {
	filter: invert(var(--sbgcui-invert)) hue-rotate(var(--sbgcui-hueRotate)) brightness(var(--sbgcui-brightness)) grayscale(var(--sbgcui-grayscale)) sepia(var(--sbgcui-sepia)) blur(var(--sbgcui-blur)) !important;
}

.ol-scale-line {
	bottom: 0;
	left: 50%;
	padding-bottom: 0;
	transform: translate(-50%, 0);
}

.popup-touch {
	z-index: 3;
}

.pr-stats__section-header,
.settings-section__header {
	color: var(--selection);
}

.profile {
	overflow: auto;
}

.profile-link {
	font-weight: bold;
}

.pr-buttons {
	display: flex;
	gap: 5px;
}

.region-picker {
	display: none;
}

.score {
	width: calc(100% - 0.5em);
}

.score__graph {
	display: flex;
}

.score__graph>div {
	height: initial;
	position: initial;
}

.score__graph-red {
	left: initial;
	order: calc(var(--r) * -1);
}

.score__graph-green {
	left: initial;
	order: calc(var(--g) * -1);
}

.score__graph-blue {
	right: initial;
	order: calc(var(--b) * -1);
}

.score__table {
	display: flex;
	flex-direction: column;
	margin: 1em 0 0 0;
}

.score__table>thead,
.score__table>thead>tr {
	display: flex;
	width: 100%;
}

.score__table th[data-i18n="layers.objects.points"] {
	box-sizing: border-box;
	width: 30%;
}

.score__table th[data-i18n="layers.objects.regions"] {
	box-sizing: border-box;
	width: 70%;
}

.score__table th.empty,
.team-r>th,
.team-g>th,
.team-b>th {
	display: none;
}

.score__table>tbody {
	display: flex;
	flex-direction: column;
	height: 25vh;
	position: relative;
}

.score__table>tbody>tr {
	display: grid;
	grid-template-areas:
		"p0 r0"
		"p1 r1"
		"p2 r2";
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr 1fr 1fr;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.score__table>thead th,
.team-r>td,
.team-g>td,
.team-b>td {
	border: 1px var(--border) solid !important;
}

.team-r>td:first-of-type {
	grid-area: p0;
}

.team-r>td:last-of-type {
	grid-area: r0;
}

.team-g>td:first-of-type {
	grid-area: p1;
}

.team-g>td:last-of-type {
	grid-area: r1;
}

.team-b>td:first-of-type {
	grid-area: p2;
}

.team-b>td:last-of-type {
	grid-area: r2;
}

.self-info {
	color: var(--sbgcui-branding-color);
	font-weight: bold;
	border: none;
	background-color: unset;
	flex-direction: row;
	flex-wrap: wrap;
	gap: unset;
	text-shadow: 2px 2px 1px black;
	pointer-events: none;
}

.self-info__entry {
	display: flex;
	align-items: flex-end;
	position: relative;
	padding-right: 0.5em;
}

.self-info__entry:has(#self-info__coord) {
	width: 100%;
}

.pr-stat__age>.pr-stat-val {
	position: relative;
}

.pr-stat__age>.pr-stat-val::after {
	bottom: -1.2em;
	color: var(--sbgcui-diff-color, var(--text-disabled));
	content: "(" counter(sbgcui-reg-date) " d)";
	counter-reset: sbgcui-reg-date var(--sbgcui-reg-date);
	position: absolute;
	right: 0;
}

.pr-stat-val {
	color: var(--sbgcui-diff-color, var(--text));
}

.toastify:nth-child(n+4) {
	display: none;
}

.topleft-container {
	max-width: unset;
	width: 100%;
	box-sizing: border-box;
	background: linear-gradient(180deg, var(--sbgcui-branding-color) -100%, rgba(255, 255, 255, 0) 100%);
	pointer-events: none;
	position: initial;
	top: initial;
	left: initial;
	margin-bottom: auto;
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}

.xp-diff {
	display: none;
}

.sbgcui_toast-selection {
	background: var(--background);
	border: 1px var(--selection) solid;
	border-color: var(--selection);
	border-radius: 5px;
	box-shadow: 0 0 15px var(--selection);
	color: var(--text);
	padding: 5px;
}

.sbgcui_toast-team {
	border: 1px var(--sbgcui-branding-color) solid;
	border-color: var(--sbgcui-branding-color);
	box-shadow: 0 0 15px var(--sbgcui-branding-color);
	background: var(--background);
	color: var(--text);
}

.sbgcui_compare_stats-toast {
	border: 1px var(--sbgcui-toast-color) solid;
	border-color: var(--sbgcui-toast-color);
	box-shadow: 0 0 15px var(--sbgcui-toast-color);
	background: var(--background);
	color: var(--text);
}

.sbgcui_destroy_notifs {
	bottom: 0;
	height: 0;
	/* Чтобы не перекрывало тулбар. Высота не важна, тосты абсолютно позиционированы. */
	left: 0;
	position: absolute;
	width: calc(50% - 3em - 15px);
	/* Половина ширины body - половина ширины кнопки атаки - отступ тоста от края */
	z-index: 10;
}

.sbgcui_destroy_notifs>.toastify:nth-child(2) {
	translate: 0 10px;
}

.sbgcui_destroy_notifs>.toastify:nth-child(3) {
	translate: 0 20px;
}

.sbgcui_destroy_notif_toast {
	background: var(--background-transp);
	border: 1px solid var(--border-transp);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 0.7em !important;
	padding: 4px;
	width: inherit;
}

.sbgcui_destroy_notif_toast>.toast-close {
	color: var(--text);
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
}

.sbgcui_destroy_notif_toast-content {
	color: var(--text);
	display: flex;
	flex-direction: column;
}

.sbgcui_destroy_notif_toast-content>span:first-child {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 12px);
}

.sbgcui_destroy_notif_toast-content>span:last-child {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sbgcui_button_reset {
	background: none;
	border: none;
	color: unset;
}

.sbgcui_no_bg_image {
	background-image: none !important;
}

.sbgcui_point-popup-bg::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(var(--sbgcui-point-image-blur));
	background-color: var(--sbgcui-point-bg);
	background-image: var(--sbgcui-point-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

.sbgcui_compare_stats {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	border-bottom: 1px var(--border-transp) solid;
	border-top: 1px var(--border-transp) solid;
}

.sbgcui_compare_stats-timestamp {
	font-size: 0.8em;
	color: var(--text-disabled);
	display: inline;
	margin-right: auto;
}

.sbgcui_compare_stats-toast {
	text-align: center;
}

.sbgcui_compare_stats-diff-wrp {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	margin: 0;
}

.sbgcui_compare_stats-diff-wrp>span:first-child {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sbgcui_compare_stats-diff-valuePos {
	color: green;
}

.sbgcui_compare_stats-diff-valueNeg {
	color: red;
}

.sbgcui_no_loot,
.sbgcui_no_refs {
	aspect-ratio: 1;
	position: absolute;
	font-size: 1.1em;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 7px;
	box-sizing: border-box;
}

.sbgcui_no_loot {
	left: 0;
	border-right: 2px solid var(--background);
}

.sbgcui_no_refs {
	right: 0;
	border-left: 2px solid var(--background);
}

.sbgcui_point_star {
	position: absolute;
	top: 5px;
	right: 0;
	padding: 0;
	height: 1em;
	width: 1em;
	font-size: 32px;
	display: flex;
	justify-content: center;
	text-shadow: 0 0 5px var(--text-shadow);
}

.sbgcui_point_star.fa-solid-star {
	color: var(--selection);
}

.i-image-box {
	min-height: 2em;
	padding-top: 2em;
}

.i-image-box.imghid {
	min-height: initial;
	max-height: initial;
}

.sbgcui_point_trash {
	position: absolute;
	right: 0.2em;
	bottom: -25px;
	font-size: 20px;
}

#i-ref[data-has="0"]~.sbgcui_point_trash {
	display: none;
}

.sbgcui_lock_rotation {
	margin-top: 20px !important;
	opacity: 0.5;
}

.sbgcui_lock_rotation[sbgcui_locked="true"] {
	opacity: 1;
}

.sbgcui_lock_rotation[sbgcui_locked="true"]::before {
	transition: transform 0.5s ease;
}

.sbgcui_lock_rotation[sbgcui_locked="false"]::before {
	transform: rotate(var(--sbgcui_angle));
}

.sbgcui_settings {
	display: flex;
	flex-direction: column;
	padding: 10px 5px 0 5px;
	margin-top: 10px;
	border: 1px solid #666;
	background: var(--background);
	pointer-events: auto;
	position: relative;
	z-index: 99;
	max-height: 60vh;
	overflow: auto;
	box-shadow: 0px 0px 10px var(--shadow);
}

.sbgcui_settings-buttons_wrp {
	display: flex;
	justify-content: space-around;
	position: sticky;
	bottom: 0;
	background: var(--background);
	padding: 10px 0;
}

.sbgcui_settings-buttons_wrp>button {
	width: 35%;
	margin: 0 auto;
}

.sbgcui_settings-version {
	position: absolute;
	top: 2px;
	right: 5px;
	color: var(--text-disabled);
}

.sbgcui_settings-header {
	text-align: center;
	margin: 0;
}

.sbgcui_settings-section {
	margin-bottom: 15px;
}

.sbgcui_settings-title {
	margin: 0;
	padding-bottom: 5px;
}

.sbgcui_settings-subtitle {
	margin: 0;
	color: #666;
}

.sbgcui_settings-subsection {
	padding: 0 15px;
	margin-top: 10px;
}

input[type="range"][name="notifications_interval"],
input[type="range"][name="notifications_duration"] {
	position: relative;
}

input[type="range"][name="notifications_interval"]::after,
input[type="range"][name="notifications_duration"]::after {
	content: attr(label);
	position: absolute;
	right: 0;
	top: -100%;
}

.sbgcui_settings-maxamounts {
	padding-left: 15px;
	margin-top: 5px;
	column-count: 2;
}

.sbgcui_settings-amount_input_wrp {
	margin-bottom: 10px;
	display: flex;
}

.sbgcui_settings-amount_input_wrp>label {
	flex-basis: 20%;
}

.sbgcui_settings-amount_input_wrp>input {
	margin-left: 10px;
	width: 4em;
	transition: all 0.4s ease-out;
}

.sbgcui_settings-amount_input_wrp>input[data-amount="-1"] {
	background-color: darkgreen;
	border: 2px solid green;
}

.sbgcui_settings-amount_input_wrp>input[data-amount="0"] {
	background-color: darkred;
	border: 2px solid red;
}

.sbgcui_settings-input_wrp,
.sbgcui_settings-range_input_wrp {
	font-size: 0.8em;
	display: flex;
	margin-top: 10px;
}

.sbgcui_settings-input_wrp>label {
	margin-left: 5px;
}

.sbgcui_settings-input_wrp>input[type="checkbox"] {
	margin-left: 0;
}

.sbgcui_settings-inputs_group {
	padding-left: 15px;
}

.sbgcui_settings-dropdown_wrapper,
.sbgcui_settings-textfield_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.sbgcui_settings-dropdown_wrapper:not(:first-child) {
	margin-top: 15px;
}

.sbgcui_settings-dropdown_wrapper>select {
	margin-right: 10px;
}

.sbgcui_settings-dropdown-title,
.sbgcui_settings-textfield-title {
	margin: 0;
	margin-bottom: 5px;
	font-weight: normal;
	flex-basis: 100%;
}

.sbgcui_settings-radio_group-title {
	margin: 0;
}

.sbgcui_settings-radio_group {
	margin-top: 10px;
}

.sbgcui_settings-range_input_wrp {
	justify-content: space-between;
}

.sbgcui_settings-range_input_wrp>label {
	word-break: break-all;
}

.sbgcui_settings-range_input_wrp>input {
	flex-basis: 60%;
	flex-shrink: 0;
}

#sbgcui_forceclear {
	display: block;
	margin-top: 15px;
}

.sbgcui_favs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 70%;
	max-height: 60%;
	background-color: var(--background);
	box-shadow: 0 0 5px var(--shadow);
	border: 1px solid var(--sbgcui-branding-color);
	border-radius: 3px;
	z-index: 2;
	padding: 0 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

.sbgcui_favs-header {
	text-align: center;
	margin: 0;
	padding: 10px 0;
	position: sticky;
	top: 0;
	background-color: var(--background);
}

.sbgcui_favs-descr {
	color: var(--text-disabled);
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

.sbgcui_favs-content {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 10px;
}

.sbgcui_favs-content:not(:has([sbgcui_active]))::after {
	content: "Нажмите звезду на карточке точки, чтобы добавить её в избранное.";
	color: var(--text-disabled);
	font-size: 0.8em;
	text-align: center;
}

.sbgcui_favs_star::after {
	content: attr(sbgcui_timers-min);
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10px;
	color: var(--text);
	text-shadow: 0 0 3px var(--shadow);
	backdrop-filter: blur(3px);
}

.sbgcui_favs_star[sbgcui_timers="0"] {
	display: none;
}

.sbgcui_favs-li {
	--sbgcui-favs-li-gap: 5px;
	display: flex;
	align-items: center;
	gap: var(--sbgcui-favs-li-gap);
}

.sbgcui_favs-li-data {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	text-align: end;
	color: var(--text-disabled);
	margin-left: auto;
	flex-basis: 25%;
	white-space: nowrap;
}

.sbgcui_favs-li>a {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.sbgcui_favs-li>a[sbgcui_discoveries]::before {
	content: attr(sbgcui_discoveries) " discoveries left";
	display: flex;
	color: var(--text-disabled);
	font-size: 0.8em;
	order: 2;
}

.sbgcui_favs-li>a::after {
	content: attr(sbgcui_cooldown);
	display: flex;
	color: var(--text-disabled);
	font-size: 0.8em;
}

.sbgcui_favs-li>a>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sbgcui_favs-li-delete {
	font-size: 20px;
	color: var(--accent);
	padding: 0;
	width: calc(1em + var(--sbgcui-favs-li-gap));
	height: 1em;
	min-width: 20px;
	max-width: 20px;
}

.sbgcui_xpProgressBar {
	border: 1px solid var(--sbgcui-branding-color);
	position: relative;
}

.sbgcui_xpProgressBarFiller {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--sbgcui-player-exp-percentage);
	height: 100%;
	background-color: var(--sbgcui-branding-color);
	opacity: 0.3;
}

.sbgcui_attack-menu-rotate {
	border-color: var(--selection) !important;
	transition: border-color 0.5s ease-out 0.4s;
}

.sbgcui_attack-menu-rotate::after {
	transform: rotate(135deg);
	background-color: var(--selection) !important;
	border-bottom-left-radius: 0 !important;
}

.sbgcui_refs-sort-button {
	position: absolute;
	bottom: 140px;
	right: 30px;
	font-size: 1em;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 5px var(--shadow);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 7px;
}

.inventory__content:not([data-tab="3"])+.inventory__controls>.sbgcui_refs-sort-button {
	display: none;
}

.sbgcui_refs-sort-select {
	order: 2;
}

.sbgcui_refs-reverse {
	flex-direction: column-reverse !important;
}

.sbgcui_show_viewer {
	order: 3;
}

.sbgcui_xpdiff-wrapper {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 20%;
	z-index: 99;
	transform: translateX(-50%);
	pointer-events: none;
}

.sbgcui_xpdiff {
	display: block;
	color: var(--selection);
	transition: 2.5s ease-out;
	white-space: nowrap;
	font-size: 1em;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	text-shadow: 0px 0px 5px black;
	font-weight: bold;
}

.sbgcui_xpdiff-out {
	opacity: 0;
	transform: scale(2);
	bottom: 100% !important;
}

.sbgcui_pr-stat-header {
	margin: 15px 0 0;
	color: var(--selection);
}

li[sbgcui-excluded-core]>span {
	color: var(--text-disabled) !important;
}

.sbgcui_toolbar-control {
	left: 0.5em;
	right: initial;
	bottom: 6em;
}

.sbgcui_toolbar {
	display: flex;
	flex-direction: column-reverse;
	gap: 5px;
}

.sbgcui_speed {
	opacity: var(--sbgcui-show-speedometer);
}

.sbgcui_cluster-overlay {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	transition-duration: 200ms;
	transition-property: backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: ease-out;
	width: 100%;
	z-index: 9;
}

.sbgcui_cluster-overlay-blur {
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.sbgcui_cluster-center {
	align-items: flex-end;
	background-color: var(--selection);
	border-radius: 50%;
	box-shadow: 0 0 10px 3px black;
	box-sizing: border-box;
	display: flex;
	height: 20px;
	justify-content: center;
	padding: 10px;
	width: 20px;
}

.sbgcui_cluster-close {
	bottom: 35px;
	font-size: 40px;
	height: 1em;
	padding: 0;
	position: absolute;
	width: 1em;
}

.sbgcui_cluster-iconWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 0;
	max-height: 250px;
	position: absolute;
	transform-origin: bottom center;
	transition: height 200ms ease-out;
}

.sbgcui_cluster-iconWrapper-fullWidth {
	height: calc(50vw - 10px);
}

.sbgcui_cluster-icon {
	align-items: center;
	background-color: #666;
	background-size: cover;
	border-radius: 15%;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: flex;
	height: 60px;
	justify-content: center;
	transform-origin: center;
	width: 60px;
}

.sbgcui_cluster-icon::before {
	content: "L" var(--sbgcui-point-level);
	font-size: 0.8em;
	position: absolute;
	top: -25px;
}

.sbgcui_cluster-icon::after {
	-webkit-box-orient: vertical;
	content: var(--sbgcui-point-title);
	display: -webkit-box;
	font-size: 12px;
	-webkit-line-clamp: 2;
	line-height: 14px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: calc(100% + 5px);
	width: calc(100% + 20px);
	word-wrap: break-word;
}

.sbgcui_cluster-line {
	background-color: var(--selection);
	border-radius: 50%;
	box-shadow: 0 0 10px 3px black;
	height: calc(65% - 65px);
	margin-bottom: 25px;
	margin-top: auto;
	width: 4px;
}

.sbgcui_swipe-cards-arrow {
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-name: move-left-fade-out;
	animation-timing-function: ease-out;
	color: var(--text-disabled);
	font-size: 2em;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 10px;
	top: 0;
}

.sbgcui_profile-compare {
	font-size: 1.2em;
	margin-left: auto;
	width: 4em;
	padding: 2px;
}

.draw-slider-wrp:has(#refs-list > li:only-child) .sbgcui_drawslider_sort {
	display: none;
}

.sbgcui_zeroPoint {
	background-color: var(--background);
	border: 2px solid var(--border-transp);
	border-radius: 10px;
	color: var(--text);
	left: 50%;
	max-width: 400px;
	padding: 0 10px 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 9;
}

.sbgcui_zeroPoint-header {
	color: var(--accent);
	text-align: center;
}

.sbgcui_zeroPoint-footer {
	color: var(--text-disabled);
	text-align: center;
}

.sbgcui_discharge_timeout {
	color: var(--text);
	display: block;
}

.sbgcui_navbutton,
.sbgcui_jumpToButton {
	bottom: 10px;
	color: var(--text);
	font-size: 30px;
	height: 1em;
	padding: 0;
	position: absolute;
	width: 1em;
}

.sbgcui_navbutton {
	left: 10px;
}

.sbgcui_jumpToButton {
	right: 10px;
}

.sbgcui_navigate {
	background-color: var(--background);
	border: 2px solid var(--border-transp);
	border-radius: 10px;
	box-sizing: border-box;
	color: var(--text);
	left: 50%;
	max-height: 90%;
	overflow-y: auto;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 5;
}

.sbgcui_navigate>hgroup {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sbgcui_navigate-title {
	margin: 0 0 5px;
}

.sbgcui_navigate-subtitle {
	margin: 0 0 10px;
	text-align: center;
}

.sbgcui_navigate-coords {
	display: block;
	text-decoration: underline;
}

.sbgcui_navigate-form-title {
	margin: 0;
	padding: 15px 0 3px;
}

.sbgcui_navigate-form-subsections {
	display: flex;
	justify-content: space-between;
}

.sbgcui_navigate-form-subtitle {
	margin: 0 0 5px;
	text-align: center;
}

.sbgcui_navigate-form-menu {
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0 0 0 15px;
}

.sbgcui_navigate-form-menu>li[data-selected] {
	background-color: var(--selection);
	outline: 3px solid var(--border-transp);
}

.sbgcui_navigate-form-menu>li {
	border: 2px solid var(--border-transp);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 30px;
	height: 1.375em;
	list-style: none;
	padding: 5px;
	width: 1.375em;
}

.sbgcui_navigate-form-buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.sbgcui_navigate-form-buttons>button {
	font-size: 16px;
	height: 2em;
	width: 40%;
}

.sbgcui_hidden {
	display: none !important;
}

.sbgcui_log {
	--capture: darkgreen;
	--deploy: darkgoldenrod;
	--upgrade: darkslategrey;
	--discover: darkcyan;
	--draw: darkmagenta;
	--destroy: darkred;
	--broom: darkslateblue;
	background: var(--background);
	border: 2px solid var(--border-transp);
	box-sizing: border-box;
	color: var(--text);
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.sbgcui_log-header {
	color: var(--sbgcui-branding-color);
	margin: 0px;
	text-align: center;
}

.sbgcui_log-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px 15px;
	justify-content: center;
	margin-top: 15px;
	border: 2px outset var(--border-transp);
	border-left: none;
	border-right: none;
	padding: 10px 0;
}

.sbgcui_log-tags>span {
	border-radius: 50px;
	color: #D1D1D1;
	padding: 3px 8px;
	text-transform: lowercase;
}

.sbgcui_log-tags>span[data-hidden] {
	background-color: dimgray !important;
	opacity: 0.3;
	text-decoration: line-through;
}

.sbgcui_log-tags>span[data-action="capture"] {
	background-color: var(--capture);
}

.sbgcui_log-tags>span[data-action="deploy"] {
	background-color: var(--deploy);
}

.sbgcui_log-tags>span[data-action="upgrade"] {
	background-color: var(--upgrade);
}

.sbgcui_log-tags>span[data-action="discover"] {
	background-color: var(--discover);
}

.sbgcui_log-tags>span[data-action="draw"] {
	background-color: var(--draw);
}

.sbgcui_log-tags>span[data-action="destroy"] {
	background-color: var(--destroy);
}

.sbgcui_log-tags>span[data-action="broom"] {
	background-color: var(--broom);
}

.sbgcui_log-content,
.sbgcui_log-console {
	overflow-y: auto;
	padding-bottom: 65px;
}

.sbgcui_log-content:empty::before,
.sbgcui_log-console:empty::before {
	color: var(--text-disabled);
	display: block;
	font-size: 1.3em;
	margin-top: 50%;
	text-align: center;
	white-space: pre-wrap;
}

.sbgcui_log-content:empty::before {
	content: "Действий не найдено. \AВыберите другую дату.";
}

.sbgcui_log-console:empty::before {
	content: "Здесь будут выводиться ошибки и сообщения, отправляемые в консоль.";
}

.sbgcui_log-content-entry {
	align-items: center;
	border-bottom: 1px solid var(--border-transp);
	display: flex;
	flex-wrap: nowrap;
	font-size: 0.8em;
	gap: 10px;
	margin: 0;
	padding: 1px 5px;
}

.sbgcui_log-content-entry-time {
	align-items: center;
	color: var(--action-color);
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
}

.sbgcui_log-console .sbgcui_log-content-entry-time {
	flex-basis: 25%;
}

.sbgcui_log-content-entry-time::after {
	content: var(--action-type);
	display: block;
	text-align: center;
	text-transform: capitalize;
}

.sbgcui_log-content-entry-description {
	flex-basis: calc(80% - 10px);
	overflow: hidden;
	text-overflow: ellipsis;
}

.sbgcui_log-console .sbgcui_log-content-entry-description {
	flex-basis: calc(75% - 10px);
	overflow-wrap: break-word;
}

.sbgcui_log-content-entry-description-fromto {
	display: flex;
	gap: 5px;
	justify-content: space-between;
	white-space: nowrap;
}

.sbgcui_log-content-entry-description-fromto>a {
	flex: calc(50% - 20px) 1 0;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.sbgcui_log-content-entry:not(:is([data-action="destroy"], [data-action="broom"]))>.sbgcui_log-content-entry-description {
	display: flex;
	flex-direction: column;
}

.sbgcui_log-close {
	bottom: 15px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.sbgcui_log-buttons {
	bottom: 80px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: absolute;
	right: 15px;
}

.sbgcui_log-buttons>button {
	font-size: 40px !important;
}

.sbgcui_log-header:has(input[data-totalEntries="0"])~.sbgcui_log-buttons>.sbgcui_log-buttons-trash,
.sbgcui_log-console:not(.sbgcui_hidden)~.sbgcui_log-buttons>.sbgcui_log-buttons-trash {
	display: none;
}

.sbgcui_log-console:not(.sbgcui_hidden)~.sbgcui_log-buttons>.sbgcui_log-buttons-console {
	color: var(--selection);
}

.sbgcui_log:has(span[data-action="capture"][data-hidden]) .sbgcui_log-content-entry[data-action="capture"],
.sbgcui_log:has(span[data-action="deploy"][data-hidden]) .sbgcui_log-content-entry[data-action="deploy"],
.sbgcui_log:has(span[data-action="upgrade"][data-hidden]) .sbgcui_log-content-entry[data-action="upgrade"],
.sbgcui_log:has(span[data-action="discover"][data-hidden]) .sbgcui_log-content-entry[data-action="discover"],
.sbgcui_log:has(span[data-action="draw"][data-hidden]) .sbgcui_log-content-entry[data-action="draw"],
.sbgcui_log:has(span[data-action="destroy"][data-hidden]) .sbgcui_log-content-entry[data-action="destroy"],
.sbgcui_log:has(span[data-action="broom"][data-hidden]) .sbgcui_log-content-entry[data-action="broom"] {
	display: none;
}


@keyframes move-left-fade-out {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(-40px);
		opacity: 0;
	}
}

@media (orientation: portrait) {
	@media screen and (max-width: 360px) {
		.sbgcui_cluster-center:has(> :nth-child(8))>.sbgcui_cluster-iconWrapper:nth-child(2n) {
			height: calc(50vw + 30px);
		}
	}
}

@media (orientation: landscape) {
	#attack-slider-fire {
		height: initial;
	}

	.attack-slider-wrp {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 40%;
		white-space: nowrap;
	}

	.catalysers-list__level {
		font-size: 1.2em;
	}

	.catalysers-list__amount,
	.attack-slider-highlevel {
		font-size: 0.8em;
	}

	.ol-zoom {
		top: 0.5em;
		bottom: initial;
		transform: translateY(0);
	}

	.sbgcui_attack-menu-rotate::after {
		transform: rotate(-135deg);
	}

	.sbgcui_cluster-close {
		right: 35px;
	}

	.sbgcui_cluster-iconWrapper {
		height: calc(50vh - 35px);
	}

	@media screen and (max-height: 440px) {
		.sbgcui_cluster-center:has(> :nth-child(8))>.sbgcui_cluster-iconWrapper:nth-child(2n) {
			height: calc(50vh + 20px);
		}
	}
}