:root[data-theme="dark"] {
	--sbgcui-point-bg: #282828;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--sbgcui-point-bg: #282828;
		--sbgcui-point-text-shadow: 0 0 5px var(--text-shadow);
	}
}

html,
button {
	touch-action: manipulation;
}

html {
	user-select: none;
	-webkit-user-select: none;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	overscroll-behavior: contain;
	overflow: hidden;
}

#attack-slider-fire,
.draw-slider-buttons button {
	height: 50px;
}

#attack-menu {
	background-color: rgba(110, 110, 110, 0.2);
	background-clip: content-box;
	border-style: groove;
	border-top-style: dotted;
	width: 6em;
	height: 6em;
	padding: 0;
	border-width: 8px;
	border-radius: 50%;
	border-color: var(--sbgcui-branding-color);
	box-shadow: 0px 0px 10px 0px rgba(110, 110, 110, 0.2);
	transform: rotate(0deg);
	-moz-transform: rotate(-45deg);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}

#attack-menu::after {
	display: block;
	content: "";
	width: 50%;
	height: 50%;
	background-color: var(--sbgcui-branding-color);
	border-radius: 30%;
	margin: auto;
	transition: transform 0.5s ease, border-radius 0.5s ease 0.2s;
}

#catalysers-list>.splide__slide,
#cores-list>.splide__slide {
	height: initial !important;
}

#repair {
	grid-area: Repair;
}

#draw {
	grid-area: Draw;
}

#deploy {
	grid-area: Deploy;
}

#discover {
	grid-area: Discover;
}

#i-image {
	top: 0;
}

#i-title {
	overflow: hidden;
}

#i-title,
.i-stat__entry,
.sbgcui_point_trash,
.cores-list__level,
.cores-list__amount,
.deploy-slider-error {
	text-shadow: var(--sbgcui-point-text-shadow);
}

#inventory__close {
	top: initial;
	bottom: 120px;
	right: 50%;
	transform: translateX(50%);
	font-size: 1.5em;
	padding: 0 0.1em;
	z-index: 2;
	position: absolute;
}

.inventory.popup:has(.inventory__content[data-tab="3"]) #inventory__close[sbgcui_measurement_mode] {
	color: var(--selection);
}

.inventory__content:not([data-tab="3"])~.inventory__controls>select {
	display: none;
}

#layers {
	position: initial;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#notifs-menu {
	margin: 1px;
}

#notifs-menu[data-count]::before {
	content: '';
	position: initial;
	top: initial;
	right: initial;
	translate: initial;
	background: currentColor;
	color: inherit;
	border-radius: initial;
	padding: initial;
	min-width: initial;
	box-sizing: border-box;
	font-size: 1em;
}

#notifs-menu[data-count]::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	margin: 3px;
	background: var(--accent);
	border-radius: 50%;
	width: 25%;
	height: 25%;
}

#self-info__exp {
	font-size: 1em;
	padding: 0 1em;
}

#self-info__explv {
	font-size: 2.2em;
	text-shadow: 3px 3px 2px black;
}

#self-info__inv::after {
	content: var(--sbgcui-inventory-limit);
}

#self-info__name {
	font-size: 1.2em;
	position: absolute;
	top: 0em;
	left: 100%;
	z-index: 1;
	pointer-events: auto;
	color: var(--sbgcui-branding-color) !important;
}

#toggle-follow {
	transform: rotate(-90deg);
}

#ops {
	position: absolute;
	left: 0;
	bottom: -10px;
	font-size: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ops,
.game-menu>button {
	color: var(--sbgcui-branding-color);
	background-color: var(--ol-background-color);
	border: 1px solid var(--ol-subtle-background-color);
	border-radius: 4px;
}

.attack-slider-buttons {
	margin-top: 5px;
}

.attack-slider-highlevel,
.deploy-slider-error {
	display: flex;
	justify-content: center;
	align-items: center;
}

.attack-slider-highlevel {
	height: unset;
	padding-bottom: 5px;
}

.attack-slider-wrp {
	z-index: 2;
	position: initial;
	top: initial;
	left: initial;
	transform: initial;
	order: 2;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.bottom-container {
	pointer-events: none;
	z-index: 2;
	position: relative;
	bottom: initial;
	left: initial;
	order: 3;
	margin: 0 5px 15px;
	justify-content: center;
	translate: initial;
	width: initial;
}

.bottom-container button {
	pointer-events: auto;
}

.catalysers-list__level,
.cores-list__level {
	font-size: 1.5em;
}

.catalysers-list__amount,
.cores-list__amount,
.attack-slider-highlevel {
	font-size: 1em;
}

.catalysers-list__amount,
.cores-list__amount {
	width: 100%;
	text-align: center;
}

.deploy-slider-error {
	background: unset;
}

.deploy-slider-wrp {
	margin-top: 10px;
}

.draw-slider-wrp .splide__slide * {
	direction: ltr;
}

.game-menu>.fa-solid-rotate {
	width: 2em;
}

.game-menu button {
	pointer-events: auto;
}

.i-buttons {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 2fr 1fr 1fr;
	gap: 10px 10px;
	grid-template-areas:
		"Repair Draw Deploy"
		"Discover Discover Deploy"
		"Discover Discover Deploy";
	width: 90%;
	align-self: center;
	direction: var(--sbgcui-point-btns-rtl);
}

.i-buttons>button {
	padding: 5px 0;
	box-shadow: 0 0 2px var(--shadow);
}

.i-stat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 0px 10px;
	grid-template-areas:
		"distance lines"
		"owner regions"
		"energy reward"
		"buttons buttons"
		"cores cores"
		"slider slider";
	position: relative;
}

.i-stat>div:nth-child(1) {
	grid-area: distance;
}

.i-stat>div:nth-child(2) {
	grid-area: owner;
}

.i-stat>div:nth-child(3) {
	grid-area: energy;
}

.i-stat>div:nth-child(4) {
	grid-area: lines;
}

.i-stat>div:nth-child(5) {
	grid-area: regions;
}

.i-stat>div:nth-child(6) {
	grid-area: reward;
}

.i-stat>div:nth-child(7) {
	grid-area: buttons;
	justify-self: center;
}

.i-stat>div:nth-child(8) {
	grid-area: cores;
}

.i-stat>div:nth-child(9) {
	grid-area: slider;
}

.i-stat__entry {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}

#i-stat__energy>span {
	color: var(--text-disabled);
	display: block;
}

.info.popup>.popup-close {
	bottom: 5px;
	font-size: 1.75em;
	position: sticky;
}

.inventory__content {
	order: 1;
	margin-bottom: 0;
	position: relative;
}

.inventory__content[data-tab="3"].sbgcui_refs_list-blur::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	z-index: 1;
}

.inventory__content[data-tab="3"] {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inventory__content[data-tab="3"] .inventory__item {
	--sbgcui-energy: 0%;
	--sbgcui-display-r-button: none;
	padding-right: 35px;
	position: relative;
	grid-template-columns: auto 1fr;
}

.inventory__content[data-tab="3"] .inventory__item-controls::after {
	content: "R";
	background: #666;
	display: var(--sbgcui-display-r-button);
	align-items: center;
	border-radius: 3px;
	position: absolute;
	height: 100%;
	justify-content: center;
	width: 30px;
	right: 0;
	top: 0;
}

.inventory__content[data-tab="3"] .inventory__item.loaded .inventory__item-left::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--sbgcui-energy);
	opacity: 0.3;
	background-color: var(--sbgcui-branding-color);
	transition: width 0.5s ease;
}

.inventory__manage-amount {
	z-index: 1;
}

.inventory__item-controls {
	order: 1;
	overflow: visible;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.inventory__controls {
	justify-content: space-between;
	order: 3;
	height: 40px;
}

.inventory__item-left {
	order: 2;
	position: relative;
	margin-right: 5px;
}

.inventory__header {
	order: 2;
	margin-bottom: 10px;
	padding: 0;
	gap: 0;
}

.inventory__tab {
	display: flex;
	align-items: center;
	height: 35px;
	border-bottom: 2px #0000 solid;
	border-top: none;
	flex-grow: 1;
	justify-content: center;
}

.inventory__tab.active {
	color: var(--selection);
}

.notifs__entry {
	grid-template-columns: 2fr 5fr 1fr;
}

.notifs__entry-view>span {
	display: none;
}

.notifs__entry-view {
	appearance: none;
	border-style: solid;
	height: 35px;
	font-size: 25px;
	padding: 0;
}

.notifs__entry-view::before {
	-webkit-mask: url("./assets/fontawesome/svg/solid/map-location-dot.svg");
	mask: url("./assets/fontawesome/svg/solid/map-location-dot.svg");
	background-color: currentColor;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 1em;
	mask-size: 1em;
}

.ol-control {
	left: initial;
	right: 0.5em;
	top: initial;
	bottom: 5px;
	transform: initial;
}

.ol-control button {
	color: var(--sbgcui-branding-color);
	font-size: 1.7em !important;
}

.ol-control button:hover,
.ol-control button:focus {
	outline: unset;
	color: var(--sbgcui-branding-color);
}

.ol-layer__base {
	filter: invert(var(--sbgcui-invert)) hue-rotate(var(--sbgcui-hueRotate)) brightness(var(--sbgcui-brightness)) grayscale(var(--sbgcui-grayscale)) sepia(var(--sbgcui-sepia)) blur(var(--sbgcui-blur)) !important;
}

.ol-rotate {
	position: initial;
	margin-top: 10px;
	transform: none !important;
}

.ol-rotate.ol-hidden {
	opacity: 0 !important;
	visibility: hidden !important;
}

.pr-stats__section-header,
.settings-section__header {
	color: var(--selection);
}

.profile {
	overflow: auto;
}

.profile .popup-close {
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translateX(-50%);
}

.profile-link {
	font-weight: bold;
}

.pr-buttons {
	display: flex;
	gap: 5px;
}

.self-info {
	color: var(--sbgcui-branding-color);
	font-weight: bold;
	border: none;
	background-color: unset;
	flex-direction: row;
	flex-wrap: wrap;
	gap: unset;
	text-shadow: 2px 2px 1px black;
	pointer-events: none;
}

.self-info__entry {
	display: flex;
	align-items: flex-end;
	position: relative;
	padding-right: 0.5em;
}

.self-info__entry:has(#self-info__coord) {
	width: 100%;
}

.pr-stat__age>.pr-stat-val {
	position: relative;
}

.pr-stat__age>.pr-stat-val::after {
	bottom: -1.2em;
	color: var(--sbgcui-diff-color, var(--text-disabled));
	content: "(" counter(sbgcui-reg-date) " d)";
	counter-reset: sbgcui-reg-date var(--sbgcui-reg-date);
	position: absolute;
	right: 0;
}

.pr-stat-val {
	color: var(--sbgcui-diff-color, var(--text));
}

.toastify:nth-child(n+4) {
	display: none;
}

.topleft-container {
	max-width: unset;
	width: 100%;
	box-sizing: border-box;
	background: linear-gradient(180deg, var(--sbgcui-branding-color) -100%, rgba(255, 255, 255, 0) 100%);
	pointer-events: none;
	position: initial;
	top: initial;
	left: initial;
	z-index: 2;
	margin-bottom: auto;
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}

.xp-diff {
	display: none;
}

.sbgcui_toast-selection {
	border: 1px var(--selection) solid;
	border-color: var(--selection);
	box-shadow: 0 0 15px var(--selection);
	background: var(--background);
	color: var(--text);
}

.sbgcui_toast-team {
	border: 1px var(--sbgcui-branding-color) solid;
	border-color: var(--sbgcui-branding-color);
	box-shadow: 0 0 15px var(--sbgcui-branding-color);
	background: var(--background);
	color: var(--text);
}

.sbgcui_compare_stats-toast {
	border: 1px var(--sbgcui-toast-color) solid;
	border-color: var(--sbgcui-toast-color);
	box-shadow: 0 0 15px var(--sbgcui-toast-color);
	background: var(--background);
	color: var(--text);
}

.sbgcui_button_reset {
	background: none;
	border: none;
	color: unset;
}

.sbgcui_no_bg_image {
	background-image: none !important;
}

.sbgcui_point-popup-bg::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(var(--sbgcui-point-image-blur));
	background-color: var(--sbgcui-point-bg);
	background-image: var(--sbgcui-point-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

.sbgcui_compare_stats {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	border-bottom: 1px var(--border-transp) solid;
	border-top: 1px var(--border-transp) solid;
}

.sbgcui_compare_stats-timestamp {
	font-size: 0.8em;
	color: var(--text-disabled);
	display: inline;
	margin-right: auto;
}

.sbgcui_compare_stats-toast {
	text-align: center;
}

.sbgcui_compare_stats-diff-wrp {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	margin: 0;
}

.sbgcui_compare_stats-diff-wrp>span:first-child {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sbgcui_compare_stats-diff-valuePos {
	color: green;
}

.sbgcui_compare_stats-diff-valueNeg {
	color: red;
}

.sbgcui_no_loot,
.sbgcui_no_refs {
	position: absolute;
	font-size: 1.1em;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 5%;
	box-sizing: border-box;
}

.sbgcui_no_loot {
	left: 0;
	border-right: 2px solid var(--background);
}

.sbgcui_no_refs {
	right: 0;
	border-left: 2px solid var(--background);
}

.sbgcui_point_star {
	position: absolute;
	top: 5px;
	right: 0;
	padding: 0;
	height: 1em;
	width: 1em;
	font-size: 32px;
	display: flex;
	justify-content: center;
	text-shadow: 0 0 5px var(--text-shadow);
}

.sbgcui_point_star.fa-solid-star {
	color: var(--selection);
}

.i-image-box {
	min-height: 2em;
	padding-top: 2em;
}

.i-image-box.imghid {
	min-height: initial;
	max-height: initial;
}

.sbgcui_point_trash {
	position: absolute;
	right: 0.2em;
	bottom: -25px;
	font-size: 20px;
}

#i-ref[data-has="0"]~.sbgcui_point_trash {
	display: none;
}

.sbgcui_settings {
	display: flex;
	flex-direction: column;
	padding: 10px 5px 0 5px;
	margin-top: 10px;
	border: 1px solid #666;
	background: var(--background);
	pointer-events: auto;
	position: relative;
	z-index: 99;
	max-height: 60vh;
	overflow: auto;
	box-shadow: 0px 0px 10px var(--shadow);
}

.sbgcui_settings-buttons_wrp {
	display: flex;
	justify-content: space-around;
	position: sticky;
	bottom: 0;
	background: var(--background);
	padding: 10px 0;
}

.sbgcui_settings-buttons_wrp>button {
	width: 35%;
	margin: 0 auto;
}

.sbgcui_settings-version {
	position: absolute;
	top: 2px;
	right: 5px;
	color: var(--text-disabled);
}

.sbgcui_settings-header {
	text-align: center;
	margin: 0;
}

.sbgcui_settings-section {
	margin-bottom: 15px;
}

.sbgcui_settings-title {
	margin: 0;
	padding-bottom: 5px;
}

.sbgcui_settings-subtitle {
	margin: 0;
	color: #666;
}

.sbgcui_settings-subsection {
	padding: 0 15px;
	margin-top: 10px;
}

.sbgcui_settings-maxamounts {
	padding-left: 15px;
	margin-top: 5px;
	column-count: 2;
}

.sbgcui_settings-amount_input_wrp {
	margin-bottom: 10px;
	display: flex;
}

.sbgcui_settings-amount_label {
	flex-basis: 20%;
}

.sbgcui_settings-amount_label_allied {
	color: var(--sbgcui-branding-color);
}

.sbgcui_settings-amount_label_hostile {
	color: #666;
}

.sbgcui_settings-amount_input {
	margin-left: 10px;
	width: 4em;
}

.sbgcui_settings-input_wrp,
.sbgcui_settings-mapfilters_input_wrp {
	font-size: 0.8em;
	display: flex;
	margin-top: 10px;
}

.sbgcui_settings-input_wrp>label {
	margin-left: 5px;
}

.sbgcui_settings-input_wrp>input[type="checkbox"] {
	margin-left: 0;
}

.sbgcui_settings-inputs_group {
	padding-left: 15px;
}

.sbgcui_settings-dropdown_wrapper,
.sbgcui_settings-textfield_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.sbgcui_settings-dropdown_wrapper:not(:first-child) {
	margin-top: 15px;
}

.sbgcui_settings-dropdown_wrapper>select {
	margin-right: 10px;
}

.sbgcui_settings-dropdown-title,
.sbgcui_settings-textfield-title {
	margin: 0;
	margin-bottom: 5px;
	font-weight: normal;
	flex-basis: 100%;
}

.sbgcui_settings-radio_group-title {
	margin: 0;
}

.sbgcui_settings-radio_group {
	margin-top: 10px;
}

.sbgcui_settings-mapfilters_input_wrp {
	justify-content: space-between;
}

.sbgcui_settings-mapfilters_input_wrp>label {
	word-break: break-all;
}

.sbgcui_settings-mapfilters_input_wrp>input {
	flex-basis: 60%;
	flex-shrink: 0;
}

.sbgcui_settings-forceclear {
	display: block;
	margin-top: 15px;
}

.sbgcui_favs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 70%;
	max-height: 60%;
	background-color: var(--background);
	box-shadow: 0 0 5px var(--shadow);
	border: 1px solid var(--sbgcui-branding-color);
	border-radius: 3px;
	z-index: 2;
	padding: 0 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

.sbgcui_favs-header {
	text-align: center;
	margin: 0;
	padding: 10px 0;
	position: sticky;
	top: 0;
	background-color: var(--background);
}

.sbgcui_favs-content {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 10px;
}

.sbgcui_favs-content:not(:has([sbgcui_active]))::after {
	content: "Нажмите звезду на карточке точки, чтобы добавить её в избранное.";
	color: var(--text-disabled);
	font-size: 0.8em;
	text-align: center;
}

.sbgcui_favs_star::after {
	content: attr(sbgcui_timers-min);
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10px;
	color: var(--text);
	text-shadow: 0 0 3px var(--shadow);
	backdrop-filter: blur(3px);
}

.sbgcui_favs_star[sbgcui_timers="0"] {
	display: none;
}

.sbgcui_favs-li {
	--sbgcui-favs-li-gap: 5px;
	display: flex;
	align-items: center;
	gap: var(--sbgcui-favs-li-gap);
}

.sbgcui_favs-li-data {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	text-align: end;
	color: var(--text-disabled);
	margin-left: auto;
	flex-basis: 25%;
	white-space: nowrap;
}

.sbgcui_favs-li>a {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.sbgcui_favs-li>a[sbgcui_discoveries]::before {
	content: attr(sbgcui_discoveries) " discoveries left";
	display: flex;
	color: var(--text-disabled);
	font-size: 0.8em;
	order: 2;
}

.sbgcui_favs-li>a::after {
	content: attr(sbgcui_cooldown);
	display: flex;
	color: var(--text-disabled);
	font-size: 0.8em;
}

.sbgcui_favs-li>a>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sbgcui_favs-li-delete {
	font-size: 20px;
	color: var(--accent);
	padding: 0;
	width: calc(1em + var(--sbgcui-favs-li-gap));
	height: 1em;
}

.sbgcui_xpProgressBar {
	border: 1px solid var(--sbgcui-branding-color);
	position: relative;
}

.sbgcui_xpProgressBarFiller {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--sbgcui-player-exp-percentage);
	height: 100%;
	background-color: var(--sbgcui-branding-color);
	opacity: 0.3;
}

.sbgcui_attack-menu-rotate::after {
	transform: rotate(135deg);
	border-bottom-left-radius: 0 !important;
}

.sbgcui_refs-sort-button {
	position: absolute;
	bottom: 140px;
	right: 30px;
	font-size: 1em;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 5px var(--shadow);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 0;
}

.inventory__content:not([data-tab="3"])+.inventory__controls>.sbgcui_refs-sort-button {
	display: none;
}

.sbgcui_refs-reverse {
	flex-direction: column-reverse !important;
}

.sbgcui_xpdiff-wrapper {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 20%;
	z-index: 99;
	transform: translateX(-50%);
	pointer-events: none;
}

.sbgcui_xpdiff {
	display: block;
	color: var(--selection);
	transition: 2.5s ease-out;
	white-space: nowrap;
	font-size: 1em;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	text-shadow: 0px 0px 5px black;
	font-weight: bold;
}

.sbgcui_xpdiff-out {
	opacity: 0;
	transform: scale(2);
	bottom: 100% !important;
}

.sbgcui_pr-stat-header {
	margin: 15px 0 0;
	color: var(--selection);
}

li[sbgcui-excluded-core]>span {
	color: var(--text-disabled) !important;
}

.sbgcui_toolbar-control {
	left: 0.5em;
	right: initial;
	bottom: 6em;
}

.sbgcui_toolbar {
	display: flex;
	flex-direction: column-reverse;
	gap: 5px;
}

.sbgcui_speed {
	opacity: var(--sbgcui-show-speedometer);
}

.sbgcui_cluster-overlay {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	transition-duration: 200ms;
	transition-property: backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: ease-out;
	width: 100%;
	z-index: 9;
}

.sbgcui_cluster-overlay-blur {
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.sbgcui_cluster-center {
	align-items: flex-end;
	background-color: var(--selection);
	border-radius: 50%;
	box-shadow: 0 0 10px 3px black;
	box-sizing: border-box;
	display: flex;
	height: 20px;
	justify-content: center;
	padding: 10px;
	width: 20px;
}

.sbgcui_cluster-close {
	bottom: 35px;
	font-size: 40px;
	height: 1em;
	padding: 0;
	position: absolute;
	width: 1em;
}

.sbgcui_cluster-iconWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 0;
	max-height: 250px;
	position: absolute;
	transform-origin: bottom center;
	transition: height 200ms ease-out;
}

.sbgcui_cluster-iconWrapper-fullWidth {
	height: calc(50vw - 10px);
}

.sbgcui_cluster-icon {
	align-items: center;
	background-color: #666;
	background-size: cover;
	border-radius: 15%;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: flex;
	height: 60px;
	justify-content: center;
	transform-origin: center;
	width: 60px;
}

.sbgcui_cluster-icon::before {
	content: "L" var(--sbgcui-point-level);
	font-size: 0.8em;
	position: absolute;
	top: -25px;
}

.sbgcui_cluster-icon::after {
	-webkit-box-orient: vertical;
	content: var(--sbgcui-point-title);
	display: -webkit-box;
	font-size: 12px;
	-webkit-line-clamp: 2;
	line-height: 14px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: calc(100% + 5px);
	width: calc(100% + 20px);
	word-wrap: break-word;
}

.sbgcui_cluster-line {
	background-color: var(--selection);
	border-radius: 50%;
	box-shadow: 0 0 10px 3px black;
	height: calc(65% - 65px);
	margin-bottom: 25px;
	margin-top: auto;
	width: 4px;
}

.sbgcui_swipe-cards-arrow {
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-name: move-left-fade-out;
	animation-timing-function: ease-out;
	color: var(--text-disabled);
	font-size: 2em;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 10px;
	top: 0;
}

.sbgcui_profile-compare {
	font-size: 1.2em;
	margin-left: auto;
	width: 4em;
	padding: 0 0.5em;
}

.sbgcui_drawslider_sort {
	position: absolute;
	top: calc(100% + 10px);
	width: 3.2em;
	padding: 0 1em;
}

.draw-slider-wrp:has(#refs-list > li:only-child) .sbgcui_drawslider_sort {
	display: none;
}

.sbgcui_zeroPoint {
	background-color: var(--background);
	border: 2px solid var(--border);
	border-radius: 10px;
	color: var(--text);
	left: 50%;
	max-width: 400px;
	padding: 0 10px 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 9;
}

.sbgcui_zeroPoint-header {
	color: var(--accent);
	text-align: center;
}

.sbgcui_zeroPoint-footer {
	color: var(--text-disabled);
	text-align: center;
}

.sbgcui_discharge_timeout {
	color: var(--text-disabled);
	display: block;
}

.sbgcui_hidden {
	display: none;
}

@keyframes move-left-fade-out {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(-40px);
		opacity: 0;
	}
}

@media (orientation: portrait) {
	@media screen and (max-width: 360px) {
		.sbgcui_cluster-center:has(> :nth-child(8))>.sbgcui_cluster-iconWrapper:nth-child(2n) {
			height: calc(50vw + 30px);
		}
	}
}

@media (orientation: landscape) {
	#attack-slider-fire {
		height: initial;
	}

	.attack-slider-wrp {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 40%;
		white-space: nowrap;
	}

	.catalysers-list__level {
		font-size: 1.2em;
	}

	.catalysers-list__amount,
	.attack-slider-highlevel {
		font-size: 0.8em;
	}

	.ol-zoom {
		top: 0.5em;
		bottom: initial;
		transform: translateY(0);
	}

	.sbgcui_attack-menu-rotate::after {
		transform: rotate(-135deg);
	}

	.sbgcui_cluster-close {
		right: 35px;
	}

	.sbgcui_cluster-iconWrapper {
		height: calc(50vh - 35px);
	}

	@media screen and (max-height: 440px) {
		.sbgcui_cluster-center:has(> :nth-child(8))>.sbgcui_cluster-iconWrapper:nth-child(2n) {
			height: calc(50vh + 20px);
		}
	}
}